graft ipytablewidgets/static
graft ipytablewidgets/labextension

graft src
graft tests
prune **/node_modules

include jupyter-tablewidgets.json
include tsconfig.json
include webpack.config.js
include karma.conf.js
include LICENSE
include setup.py
include pyproject.toml
include install.json

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map